In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
spotify = pd.read_csv('spotify-history-processed.csv')
audioExposure = pd.read_csv('AudioExposureEvent.csv')
heartRate = pd.read_csv('HeartRate.csv')
steps = pd.read_csv('StepCount.csv')

In [3]:
spotify.head()

,end_time,ms_played,track_name,artist_name,album_name,url
0,2023-11-09 18:30:00,0,Kya Mujhe Pyar Hai,KK,Woh Lamhe,spotify:track:3HFjh7QljnUCBLsoTwMuTj
1,2023-11-09 18:40:00,115970,Tum Hi Ho,Mithoon,Aashiqui 2,spotify:track:56zZ48jdyY2oDXHVnwg5Di
2,2023-11-09 18:50:00,390222,Sunn Raha Hai (Male Version),Ankit Tiwari,Aashiqui 2,spotify:track:5PvwPy5eRO8BPwpRzCHK3D
3,2023-11-09 19:00:00,143149,Bhula Dena,Mustafa Zahid,Aashiqui 2,spotify:track:0WNCYgCd33LnBnw22WFuq8
4,2023-11-09 19:10:00,1190,Tum Hi Ho (Remix),Mithoon,Aashiqui 2,spotify:track:0d7cAnv2jF9H0pqNhovl7f

In [4]:
heartRate.head()

,type,sourceName,value,unit,startDate,endDate,duration,minimum,CardioFitnessMedicationsUse,time,maximum,durationUnit,sum,average,workoutActivityType
0,HeartRate,Casio G-Shock,80.0,count/min,2022-10-07 23:10:00,10/7/22 23:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HeartRate,Casio G-Shock,65.0,count/min,2022-10-07 23:20:00,10/7/22 23:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HeartRate,Casio G-Shock,70.0,count/min,2022-10-07 23:30:00,10/7/22 23:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HeartRate,Casio G-Shock,69.0,count/min,2022-10-07 23:40:00,10/7/22 23:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HeartRate,Casio G-Shock,67.0,count/min,2022-10-07 23:50:00,10/7/22 23:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
audioExposure.head()

,type,sourceName,value,unit,startDate,endDate,duration,minimum,CardioFitnessMedicationsUse,time,maximum,durationUnit,sum,average,workoutActivityType
0,AudioExposureEvent,Casio G-Shock,HKCategoryValueEnvironmentalAudioExposureEvent...,NaN,2022-10-17 22:30:00,10/17/22 22:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AudioExposureEvent,Casio G-Shock,HKCategoryValueEnvironmentalAudioExposureEvent...,NaN,2022-10-20 01:40:00,10/20/22 1:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AudioExposureEvent,Casio G-Shock,HKCategoryValueEnvironmentalAudioExposureEvent...,NaN,2022-10-21 03:20:00,10/21/22 3:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AudioExposureEvent,Casio G-Shock,HKCategoryValueEnvironmentalAudioExposureEvent...,NaN,2022-11-06 02:20:00,11/6/22 2:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AudioExposureEvent,Casio G-Shock,HKCategoryValueEnvironmentalAudioExposureEvent...,NaN,2022-11-06 03:10:00,11/6/22 3:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
steps.head()

,type,sourceName,value,unit,startDate,endDate,duration,minimum,CardioFitnessMedicationsUse,time,maximum,durationUnit,sum,average,workoutActivityType
0,StepCount,iPhone 4s,10.0,count,2022-10-07 22:30:00,10/7/22 22:31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,StepCount,Casio G-Shock,9.0,count,2022-10-07 23:10:00,10/7/22 23:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,StepCount,Casio G-Shock,32.0,count,2022-10-07 23:20:00,10/7/22 23:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,StepCount,Casio G-Shock,13.0,count,2022-10-07 23:30:00,10/7/22 23:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,StepCount,iPhone 4s,39.0,count,2022-10-07 23:50:00,10/8/22 0:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#drop column name after 6th column
heartRate = heartRate.drop(heartRate.columns[6:], axis=1)

In [9]:
audioExposure = audioExposure.drop(audioExposure.columns[6:], axis=1)
steps = steps.drop(steps.columns[6:], axis=1)

In [10]:
heartRate.head()

,type,sourceName,value,unit,startDate,endDate
0,HeartRate,Casio G-Shock,80.0,count/min,2022-10-07 23:10:00,10/7/22 23:17
1,HeartRate,Casio G-Shock,65.0,count/min,2022-10-07 23:20:00,10/7/22 23:27
2,HeartRate,Casio G-Shock,70.0,count/min,2022-10-07 23:30:00,10/7/22 23:38
3,HeartRate,Casio G-Shock,69.0,count/min,2022-10-07 23:40:00,10/7/22 23:48
4,HeartRate,Casio G-Shock,67.0,count/min,2022-10-07 23:50:00,10/7/22 23:57

In [11]:
steps.head()

        type     sourceName  value   unit            startDate        endDate
0  StepCount      iPhone 4s   10.0  count  2022-10-07 22:30:00  10/7/22 22:31
1  StepCount  Casio G-Shock    9.0  count  2022-10-07 23:10:00  10/7/22 23:12
2  StepCount  Casio G-Shock   32.0  count  2022-10-07 23:20:00  10/7/22 23:29
3  StepCount  Casio G-Shock   13.0  count  2022-10-07 23:30:00  10/7/22 23:36
4  StepCount      iPhone 4s   39.0  count  2022-10-07 23:50:00   10/8/22 0:02

In [12]:
#rename column end_time in spotify to startDate
spotify = spotify.rename(columns={'end_time': 'startDate'})

In [13]:
spotify.head()

,startDate,ms_played,track_name,artist_name,album_name,url
0,2023-11-09 18:30:00,0,Kya Mujhe Pyar Hai,KK,Woh Lamhe,spotify:track:3HFjh7QljnUCBLsoTwMuTj
1,2023-11-09 18:40:00,115970,Tum Hi Ho,Mithoon,Aashiqui 2,spotify:track:56zZ48jdyY2oDXHVnwg5Di
2,2023-11-09 18:50:00,390222,Sunn Raha Hai (Male Version),Ankit Tiwari,Aashiqui 2,spotify:track:5PvwPy5eRO8BPwpRzCHK3D
3,2023-11-09 19:00:00,143149,Bhula Dena,Mustafa Zahid,Aashiqui 2,spotify:track:0WNCYgCd33LnBnw22WFuq8
4,2023-11-09 19:10:00,1190,Tum Hi Ho (Remix),Mithoon,Aashiqui 2,spotify:track:0d7cAnv2jF9H0pqNhovl7f

In [16]:
#join spotify and heartRate on startDate
spotifyHeartRate = spotify.merge(heartRate, on='startDate', how='inner')

spotifyHeartRate.head()

,startDate,ms_played,track_name,artist_name,album_name,url,type,sourceName,value,unit,endDate
0,2023-11-09 18:30:00,0,Kya Mujhe Pyar Hai,KK,Woh Lamhe,spotify:track:3HFjh7QljnUCBLsoTwMuTj,HeartRate,Casio G-Shock,66.0,count/min,11/9/23 18:36
1,2023-11-09 18:40:00,115970,Tum Hi Ho,Mithoon,Aashiqui 2,spotify:track:56zZ48jdyY2oDXHVnwg5Di,HeartRate,Casio G-Shock,67.0,count/min,11/9/23 18:49
2,2023-11-09 18:50:00,390222,Sunn Raha Hai (Male Version),Ankit Tiwari,Aashiqui 2,spotify:track:5PvwPy5eRO8BPwpRzCHK3D,HeartRate,Casio G-Shock,61.0,count/min,11/9/23 18:55
3,2023-11-09 19:00:00,143149,Bhula Dena,Mustafa Zahid,Aashiqui 2,spotify:track:0WNCYgCd33LnBnw22WFuq8,HeartRate,Casio G-Shock,62.0,count/min,11/9/23 19:07
4,2023-11-09 19:10:00,1190,Tum Hi Ho (Remix),Mithoon,Aashiqui 2,spotify:track:0d7cAnv2jF9H0pqNhovl7f,HeartRate,Casio G-Shock,65.0,count/min,11/9/23 19:16

In [17]:
spotifyHeartRate.shape

(1428, 11)

In [21]:
#join spotify and stepCount on startDate
spotifyStepCount = spotify.merge(steps, on='startDate', how='inner')

spotifyStepCount.head()

,startDate,ms_played,track_name,artist_name,album_name,url,type,sourceName,value,unit,endDate
0,2023-11-09 19:20:00,159220,Woh Lamhe Woh Baatein,Atif Aslam,Zeher,spotify:track:5fwRhPXAvGgzUxW62ZCvEg,StepCount,Casio G-Shock,10.0,count,11/9/23 19:24
1,2023-11-11 20:40:00,1790,"Main Koi Aisa Geet Gaoon (From ""Yes Boss"")",Abhijeet,Sensational Duets,spotify:track:4hLShJ4RCa2KhqVHD7MRDn,StepCount,iPhone 4s,78.0,count,11/11/23 20:52
2,2023-11-11 20:50:00,3590,"Mere Nishaan (From ""Oh My God"")",Kailash Kher,Best Of Kailash Kher,spotify:track:7y2LdSannuZhlHK3eTOyly,StepCount,Casio G-Shock,24.0,count,11/11/23 21:01
3,2023-11-11 21:10:00,265238,Neele Neele Ambar Par - Male Version,Kalyanji-Anandji,Kalaakaar (Original Motion Picture Soundtrack),spotify:track:02zPo0Dt0R4TTFY5zLJZnK,StepCount,Casio G-Shock,1.0,count,11/11/23 21:20
4,2023-11-11 21:30:00,290146,Ek Main Aur Ek Tu,Asha Bhosle,Khel Khel Mein,spotify:track:0m23fTE5D9lfYyVyfm5RoL,StepCount,Casio G-Shock,1.0,count,11/11/23 21:31

In [22]:
spotifyStepCount.shape

(576, 11)

In [23]:
#save spotifyHeartRate and spotifyStepCount to csv in a different folder

spotifyHeartRate.to_csv('spotifyHeartRate.csv', index=False)
spotifyStepCount.to_csv('spotifyStepCount.csv', index=False)